<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Connection settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- Username and password -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shop1?useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>


		<!-- For debugging purposes -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- Dont Drop and re-create the database schema on startup,Just update 
			it -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping to hibernate mapping files -->
		<mapping resource="com/jsftest/main/resources/Product.hbm.xml" />
		<mapping resource="com/jsftest/main/resources/ProductDetail.hbm.xml" />
		<mapping resource="com/jsftest/main/resources/Company.hbm.xml" />

		<!--Mapping Queries mapping files -->
		<mapping
			resource="com/jsftest/main/resources/queries/ProductQueries.hbm.xml" />
		<!-- <mapping resource = "com/jsftest/main/resources/queries/ProductDetailQueries.hbm.xml" 
			/> -->
		<mapping
			resource="com/jsftest/main/resources/queries/CompanyQueries.hbm.xml" />

	</session-factory>
</hibernate-configuration>