@charset "ISO-8859-1";

.ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-pencil {
    background-image: url("#{resource['images/pencil.png']}");
}
.ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-check {
    background-image: url("#{resource['images/check.png']}");
}

.ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-close {
    background-image: url("#{resource['images/close.jpg']}");
}
td.centeredColumnContent{
    text-align: center;
}

td.leftAlignedColumnContent{
	text-align: left;
}
.ui-toolbar-group-left .ui-button-danger {
	background-color: #ff0000;
}

.ui-toolbar-group-left .ui-button-danger.ui-state-hover {
	background-color: #ff0000;
}
.ui-button.ui-button-text-only.button-company{	  
	    float:right;
}